<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-5">
            <h1 class="text-center display-1">Contact</h1>
            <p class="text-center lead display-9">Crie ou edite seu contato</p>

            <%- include('includes/messages') %>

            <% if (condition) { %>
                <form action="/contact/edit/<%= contact._id %>" method="POST">
            <% }else {%>
                <form action="/contact/create" method="POST">
            <% } %>
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <div class="mb-3">
                  <label class="form-label">Nome</label>
                  <input value="<%= contact.name %>" type="text" class="form-control border-3" name="name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Sobrenome</label>
                    <input value="<%= contact.surname %>" type="text" class="form-control border-3" name="surname">
                </div>
                <div class="mb-3">
                    <label class="form-label">E-mail</label>
                    <input value="<%= contact.email %>" type="email" class="form-control border-3" name="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefone</label>
                    <input value="<%= contact.phone %>" type="tel" class="form-control border-3" name="phone">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg w-50">Criar</button>
                </div>
            </form>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer') %>